<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include config/bootstrapcdn %>
    <link rel ='stylesheet' href="../styles/createartist.css">  
    
    <title>All-Artist</title>
</head>

<body>
    <div class="container-fluid">
        <!-- Top-Bar -->
        <div class="row">
            <div class="col">
                <nav class="nav nav-justified display-4 text-light py-3 pl-2 shadow-sm rounded" id="headertext">
                    <i class="fas fa-play ml-2"></i>
                    <a class="nav-item nav-link active" href="/"><h1> UPSTAR MUSIC</h1></a>
                    <a class="nav-item nav-link" href=""><h1>List Artist</h1></a>
                    <a class="nav-item nav-link" href="/create-artist"><h1>Create Artist</h1></a>
                </nav>
            </div>
        </div>

        <ul class="list-group mt-2 container">
                    <% for (let artist of artists) { %>
                        <br>
                        <h4 class ='text-center badge badge-warning py-4 px-4'><%= artist.name.toUpperCase() %>'s Details&nbsp; &nbsp;&nbsp;&nbsp;<%= artist.numberofalbum %> Album(s) Released</h4>
                        <li class="list-group-item"><h3>Name:</h3><%= artist.name%> </li>
                        <li class="list-group-item"><h3>Age:</h3><%= artist.age%></li>
                        <li class="list-group-item"><h3>Years-Active:</h3> <%= artist.yearsActive%></li>
                        <li class="list-group-item"><h3>genre:</h3><%= artist.genre%></li>
                        <li class="list-group-item"><h3>Website:</h3> <%= artist.website%> <a class='btn btn-primary py-3 px-4 float-right' href='/more/<%= artist.id %>'>&plus; Album</a> </li>
                        <li class="list-group-item text-center font-weight-bold"> ALBUM(S)</li>
                        <% for((album) of artist.album) { %>
                            <li class="list-group-item"><h3>Title:</h3><%= album.title%> <h3 class="float-right badge badge-warning py-3 px-3 display-2"> Album No: <%= artist.album.indexOf(album) +1 %></h3></li>
                            <li class="list-group-item"><h3>Date:</h3><%= album.date%> </li>
                            <li class="list-group-item"><h3>Number of Tracks:</h3><%= album.tracks%><a class="btn btn-danger py-3 badge px-4 float-right" href='/deletealbum/<%=artist.id%>/<%= album.id %>'>Delete Album</a> </li>
                            <hr>
                        <% } %>
                        <div class='text-center'>
                            <a class=" btn btn-danger py-4 badge px-4  mb-2" href='/removeartist/<%=artist.id%>'>Remove Artist</a>
                        </div>
                    <% } %>
        </ul>

    </div>


    <% include config/jquerycdn %>
</body>