<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include config/bootstrapcdn %>
    <link rel ='stylesheet' href="../styles/createartist.css">  
    
    <title>Search-Artist</title>
</head>

<body>
    <div class="container mt-3">
        <!-- Top-Bar -->
        <div class="row">
            <div class="col">
                <nav class="nav nav-justified display-4 text-light py-3 pl-2 shadow-sm rounded" id="headertext">
                    <i class="fas fa-play ml-2"></i>
                    <a class="nav-item nav-link active" href="/"><h1> UPSTAR MUSIC</h1></a>
                    <a class="nav-item nav-link" href=""><h1>Random Artist</h1></a>
                    <a class="nav-item nav-link" href="/create-artist"><h1>Create Artist</h1></a>
                </nav>
            </div>
        </div>

        <ul class="list-group mt-2">
                        <h4 class ='text-right'>Number of Album: <%= user.numberofalbum %></h4>
                        <li class="list-group-item"><h3>Name:</h3><%= user.name%> </li>
                        <li class="list-group-item"><h3>Age:</h3><%= user.age%></li>
                        <li class="list-group-item"><h3>Years-Active:</h3> <%= user.yearsActive%></li>
                        <li class="list-group-item"><h3>genre:</h3><%= user.genre%> </li>
                        <li class="list-group-item"><h3>Website:</h3> <%= user.website%></li>
                    </ul>

    </div>


    <% include config/jquerycdn %>
</body>